<h2>Exercice 02 - Complétion du profil</h2>

<p>Créer une application qui coupe l'écran en deux.</p>
<p>A gauche, un formulaire reprenant les informations de l'utilisateur.</p>
<p>A droite, le profil de l'utilisateur qui se remplit en même temps que l'utilisateur entre les informations.</p>
<p>La complétion du profil doit se faire en instantanné.</p>
<p>Reprennez les différents champs de l'exercice 01 en y personnalisant certains.</p>

<hr>

<div class="d-flex flex-justify-content-center">
    <div class="d-block m-20">
        <label>Nom :</label>
        <input type="text" [(ngModel)]="nom">

        <label>Prénom :</label>
        <input type="text" [(ngModel)]="prenom">

        <label>Date de naissance :</label>
        <input type="date" [(ngModel)]="dateNaissance">

        <label>Genre :</label>
        <select [(ngModel)]="genre">
            <option value="homme">Homme</option>
            <option value="femme">Femme</option>
        </select>

        <label>Langues :</label>
        <input type="text" [(ngModel)]="langues">

        <label>Image :</label>
        <input type="text" [(ngModel)]="image">

    </div>

    <div class="flex-fill m-20">

        <h1>{{ genre === 'homme' ? 'M.' : 'Mme' }} {{ nom }} {{ prenom }}</h1>

        <p>Né le {{ dateNaissance }}</p>

        <img src="{{ image }}" alt="photo de profil" width="250">

        <p>Langues parlées : {{ langues }}</p>


    </div>
</div>