<h2>Exercice 07 - Convertisseur de degré</h2>

<p>
    Créer une application qui permet de convertir une température de °C à °F et inversément.
</p>

<p>
    Deux pipes, un "toFahrenheit" et "toCelcius" qui permettent de convertir une température vers une unité spécifique.
</p>

<p>
    Un pipe universel qui permet de convertir vers l'unité souhaité en paramètre du pipe.
</p>

<hr>

<p><a href="https://angular.io/api/common/DecimalPipe" target="_blank">DecimalPipe</a></p>


<p>Avant : {{ temperature1 }}</p>
<p>Avant : {{ temperature2 }}</p>

<p>Avant : {{ temperature1 }}</p>
<p>Avant : {{ temperature2 }}</p>

<p>Fahrenheit to Celsius</p>
<p>Fahrenheit : <input type="text" [(ngModel)]="Fahrenheit" /></p>
<p>{{  Fahrenheit  | temperatureConverter : 'C'  }} C</p>
<br>
<p>Celcius to Fahrenheit</p>
<p>Celcius : <input type="text" [(ngModel)]="Celsius" /></p>
<p>{{ Celsius | temperatureConverter: 'F'  }} F</p>
