<nav>
    <a routerLink="home">Accueil</a>
    <ul>
        <li>
            <a routerLink="demos">Démonstrations</a>
            <ul>
                <li><a routerLink="/demos/demo01">Demo 01 - One-Way Binding</a></li>
                <li><a routerLink="/demos/demo02">Demo 02 - Two-Way Binding</a></li>
                <li><a routerLink="/demos/demo03">Demo 03 - Event Binding</a></li>
                <li><a routerLink="/demos/demo04">Demo 04 - Attribute Binding</a></li>
                <li><a routerLink="/demos/demo05">Demo 05 - La base du routing</a></li>
            </ul>
        </li>
    </ul>
    <ul>
    <li>
      <a routerLink="demos">Exercices</a>
      <ul>
        <li><a routerLink="/exercices/exo01">Exo 01 - Créer son profil</a></li>
        <li><a routerLink="/exercices/exo02">Exo 02 - Complétion du profil</a></li>
        <li><a routerLink="/exercices/exo03">Exo 03 - Le chronomètre (basique)</a></li>
        <li><a routerLink="/exercices/exo05">Exo 05 - Menu complet</a></li>
      </ul>
    </li>
  </ul>


</nav>
