<nav>
    <a routerLink="home">Accueil</a>
    <ul>
        <li>
            <a routerLink="demos">Démonstrations</a>
            <ul>
                <li><a routerLink="/demos/demo01">Demo 01 - One-Way Binding</a></li>
                <li><a routerLink="/demos/demo02">Demo 02 - Two-Way Binding</a></li>
                <li><a routerLink="/demos/demo03">Demo 03 - Event Binding</a></li>
                <li><a routerLink="/demos/demo04">Demo 04 - Attribute Binding</a></li>
                <li><a routerLink="/demos/demo05">Demo 05 - La base du routing</a></li>
                <li><a routerLink="/demos/demo06">Demo 06 - Les Pipes</a></li>
            </ul>
        </li>
        <li>
            <a routerLink="exercices">Exercices</a>
            <ul>
                <li><a routerLink="/exercices/exo01">Exercice 01 - Créer son profil</a></li>
                <li><a routerLink="/exercices/exo02">Exercice 02 - Complétion du profil</a></li>
                <li><a routerLink="/exercices/exo03">Exercice 03 - Le chronomètre (basique)</a></li>
                <li><a routerLink="/exercices/exo05">Exercice 05 - Menu complet</a></li>
            </ul>
        </li>
    </ul>
</nav>