<h2>Demo 01 - Property Binding (One-Way Binding)</h2>

<p>
    Permet d'afficher le contenu d'une propriété directement dans le template HTML.
</p>

<p>
    Affichage d'une variable entre une paire de double accolades {{ "{{ nomVariable }}" }}
</p>

<p>Unidirectionnelle => TypeScript vers HTML</p>

<br>

<p>Valeur de maVariable1 (string) : {{ maVariable1 }}</p>
<p>Valeur de maVariable2 (boolean) : {{ maVariable2 }}</p>
<p>Valeur de maVariable3 (number) : {{ maVariable3 }}</p>
<p>Valeur de maVariable4 (null) : {{ maVariable4 }}</p>
<p>Valeur de maVariable5 (undefined) : {{ maVariable5 }}</p>
<p>Valeur de maVariable6 (any[]) : {{ maVariable6 }}</p>
<p>Valeur de maVariable7 ([string, number]) : {{ maVariable7 }}</p>
