<h2>Demo 07 - Les Custom Pipes</h2>

<p>
    Les customs pipes (ou pipes personnalisés) sont des pipes créés par les développeurs pour répondre aux besoins
    spécifiques à leur application.
    Les cutoms pipes sont crées en utilisant la class PipeTransform fournie par Angular, qui contient une méthode
    transform permettant de transformer les données en entrée.
</p>

<p>
    Commande pour créer un pipe : ng generate pipe nom_pipe ou ng g p nom_pipe
</p>

<h3>Transformation d'un nombre en jours heures minutes et secondes</h3>

<input type="number" [(ngModel)]="nbSecondes">
<p>Nombre original : {{ nbSecondes }}</p>
<p>Nombre custom en jours heures minutes et secondes : {{ nbSecondes | secondsToDHMS }}</p>

<h3>Récupération d'un objet sur base de son id</h3>

<p>Liste : {{ formateurs | json }}</p>
<p>id 001 : {{ formateurs | getValue : '001' : 'nom' }}</p>
<p>id 002 : {{ formateurs | getValue : '002' : 'prenom' }}</p>
<p>id 002 : {{ formateurs | getValue : '002' : 'age2' }}</p>
<p>id 011 : {{ formateurs | getValue : '011' : 'age' }}</p>

<h3>Somme des valeurs</h3>

<p>Somme : {{ 1 | sum : 1 : 2 : 3 }}</p>