/* You can add global styles to this file, and also import other style files */

// Reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-block > *  {
    display: block;
}

.d-flex {
    display: flex;
}

.flex-justify-content-center {
    justify-content: center;
}

.flex-fill {
    flex: 1 1 auto;
}

.p-20 {
    padding: 20px;
}

.m-20 {
    margin: 20px;
}