<h1>Accueil</h1>

<p>
    Pour générer un composant, il faut utiliser la commande : 
    <br>• ng generate componant nom_composant
    <br>• ng g c nom_composant
</p>

<p>
    Angular est un framework Javascript Open-source. Développé par Google pour la création d'application web côté client.
    Il utilise le modèle MVVM (Modèle Vue Vue-Modèle) pour la création d'interfaces utilisateurs dynamiques et réactives.
</p>

<p>
    Les principales caractéristiques d'Angular incluent la gestion de la liaisons de données bidirectionnelle, la modularité, l'injection de dépendances, les directives personnalisées, les services, les pipes, les animations, la validation de formulaire et la création de composants réutilisables.
</p>

<p>
    Angular utilise TypeScript, un langage de programmation qui ajoute des fonctionnalités telles que le typage statique, les classes, les interfaces et les décorateurs, pour améliorer la maintenant et la sécurité du code.
</p>

<p>
    Angular est utilisé par de nombres entreprises pour la création d'applications web complexes et évolutives. Il est livré avec une suite complète d'outils de développement, notamment Angular CLI, qui facilite la création de nouveaux projets, la génération du code et la gestion des dépendances.
</p>