<!--p>exercice1 works!</p-->

<h2>Exercice 01 - Créer son profil</h2>


<div class="container">
  <p>
    Vous devez créer une application Angular pour permettre aux utilisateurs de créer leur propre profil personnel. <br>
    L'application doit contenir les champs suivants.
  </p>

  <ul>
    <li>Nom complet (string) : {{ nomComplet }}</li>
    <li>Adresse e-mail (string) : {{ adresseMail }}</li>
    <li>Date de naissance (date) : {{ dateDeNaissance }}</li>
    <li>Genre (string) : {{ genre }}</li>
    <li>Langues parlées (string) : {{ languesParlees }}</li>
    <li>Image de profil (optionnelle) (any[]) : {{ photoDeProfil }}</li>
  </ul>
</div>

    <!--p>Valeur de maVariable1 (string) : {{ maVariable1 }}</p>
    <p>Valeur de maVariable2 (boolean) : {{ maVariable2 }}</p>
    <p>Valeur de maVariable3 (number) : {{ maVariable3 }}</p>
    <p>Valeur de maVariable4 (null) : {{ maVariable4 }}</p>
    <p>Valeur de maVariable5 (undefined) : {{ maVariable5 }}</p>
    <p>Valeur de maVariable6 (any[]) : {{ maVariable6 }}</p>
    <p>Valeur de maVariable7 ([string, number]) : {{ maVariable7 }}</p-->


<hr>
